/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px; }
  .el-button + .el-button {
    margin-left: 10px; }
  .el-button.is-round {
    padding: 12px 20px; }
  .el-button:hover, .el-button:focus {
    color: #ff7b4a;
    border-color: #ffd7c9;
    background-color: #fff2ed; }
  .el-button:active {
    color: #e66f43;
    border-color: #e66f43;
    outline: none; }
  .el-button::-moz-focus-inner {
    border: 0; }
  .el-button [class*="el-icon-"] + span {
    margin-left: 5px; }
  .el-button.is-plain:hover, .el-button.is-plain:focus {
    background: #ffffff;
    border-color: #ff7b4a;
    color: #ff7b4a; }
  .el-button.is-plain:active {
    background: #ffffff;
    border-color: #e66f43;
    color: #e66f43;
    outline: none; }
  .el-button.is-active {
    color: #e66f43;
    border-color: #e66f43; }
  .el-button.is-disabled, .el-button.is-disabled:hover, .el-button.is-disabled:focus {
    color: #c0c4cc;
    cursor: not-allowed;
    background-image: none;
    background-color: #ffffff;
    border-color: #ebeef5; }
  .el-button.is-disabled.el-button--text {
    background-color: transparent; }
  .el-button.is-disabled.is-plain, .el-button.is-disabled.is-plain:hover, .el-button.is-disabled.is-plain:focus {
    background-color: #ffffff;
    border-color: #ebeef5;
    color: #c0c4cc; }
  .el-button.is-loading {
    position: relative;
    pointer-events: none; }
    .el-button.is-loading:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255, 255, 255, 0.35); }
  .el-button.is-round {
    border-radius: 20px;
    padding: 12px 23px; }
  .el-button.is-circle {
    border-radius: 50%;
    padding: 12px; }
  .el-button--primary {
    color: #ffffff;
    background-color: #ff7b4a;
    border-color: #ff7b4a; }
    .el-button--primary:hover, .el-button--primary:focus {
      background: #ff956e;
      border-color: #ff956e;
      color: #ffffff; }
    .el-button--primary:active {
      background: #e66f43;
      border-color: #e66f43;
      color: #ffffff;
      outline: none; }
    .el-button--primary.is-active {
      background: #e66f43;
      border-color: #e66f43;
      color: #ffffff; }
    .el-button--primary.is-disabled, .el-button--primary.is-disabled:hover, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:active {
      color: #ffffff;
      background-color: #ffbda5;
      border-color: #ffbda5; }
    .el-button--primary.is-plain {
      color: #ff7b4a;
      background: #fff2ed;
      border-color: #ffcab7; }
      .el-button--primary.is-plain:hover, .el-button--primary.is-plain:focus {
        background: #ff7b4a;
        border-color: #ff7b4a;
        color: #ffffff; }
      .el-button--primary.is-plain:active {
        background: #e66f43;
        border-color: #e66f43;
        color: #ffffff;
        outline: none; }
      .el-button--primary.is-plain.is-disabled, .el-button--primary.is-plain.is-disabled:hover, .el-button--primary.is-plain.is-disabled:focus, .el-button--primary.is-plain.is-disabled:active {
        color: #ffb092;
        background-color: #fff2ed;
        border-color: #ffe5db; }
  .el-button--success {
    color: #ffffff;
    background-color: #67c23a;
    border-color: #67c23a; }
    .el-button--success:hover, .el-button--success:focus {
      background: #85ce61;
      border-color: #85ce61;
      color: #ffffff; }
    .el-button--success:active {
      background: #5daf34;
      border-color: #5daf34;
      color: #ffffff;
      outline: none; }
    .el-button--success.is-active {
      background: #5daf34;
      border-color: #5daf34;
      color: #ffffff; }
    .el-button--success.is-disabled, .el-button--success.is-disabled:hover, .el-button--success.is-disabled:focus, .el-button--success.is-disabled:active {
      color: #ffffff;
      background-color: #b3e19d;
      border-color: #b3e19d; }
    .el-button--success.is-plain {
      color: #67c23a;
      background: #f0f9eb;
      border-color: #c2e7b0; }
      .el-button--success.is-plain:hover, .el-button--success.is-plain:focus {
        background: #67c23a;
        border-color: #67c23a;
        color: #ffffff; }
      .el-button--success.is-plain:active {
        background: #5daf34;
        border-color: #5daf34;
        color: #ffffff;
        outline: none; }
      .el-button--success.is-plain.is-disabled, .el-button--success.is-plain.is-disabled:hover, .el-button--success.is-plain.is-disabled:focus, .el-button--success.is-plain.is-disabled:active {
        color: #a4da89;
        background-color: #f0f9eb;
        border-color: #e1f3d8; }
  .el-button--warning {
    color: #ffffff;
    background-color: #e6a23c;
    border-color: #e6a23c; }
    .el-button--warning:hover, .el-button--warning:focus {
      background: #ebb563;
      border-color: #ebb563;
      color: #ffffff; }
    .el-button--warning:active {
      background: #cf9236;
      border-color: #cf9236;
      color: #ffffff;
      outline: none; }
    .el-button--warning.is-active {
      background: #cf9236;
      border-color: #cf9236;
      color: #ffffff; }
    .el-button--warning.is-disabled, .el-button--warning.is-disabled:hover, .el-button--warning.is-disabled:focus, .el-button--warning.is-disabled:active {
      color: #ffffff;
      background-color: #f3d19e;
      border-color: #f3d19e; }
    .el-button--warning.is-plain {
      color: #e6a23c;
      background: #fdf6ec;
      border-color: #f5dab1; }
      .el-button--warning.is-plain:hover, .el-button--warning.is-plain:focus {
        background: #e6a23c;
        border-color: #e6a23c;
        color: #ffffff; }
      .el-button--warning.is-plain:active {
        background: #cf9236;
        border-color: #cf9236;
        color: #ffffff;
        outline: none; }
      .el-button--warning.is-plain.is-disabled, .el-button--warning.is-plain.is-disabled:hover, .el-button--warning.is-plain.is-disabled:focus, .el-button--warning.is-plain.is-disabled:active {
        color: #f0c78a;
        background-color: #fdf6ec;
        border-color: #faecd8; }
  .el-button--danger {
    color: #ffffff;
    background-color: #f56c6c;
    border-color: #f56c6c; }
    .el-button--danger:hover, .el-button--danger:focus {
      background: #f78989;
      border-color: #f78989;
      color: #ffffff; }
    .el-button--danger:active {
      background: #dd6161;
      border-color: #dd6161;
      color: #ffffff;
      outline: none; }
    .el-button--danger.is-active {
      background: #dd6161;
      border-color: #dd6161;
      color: #ffffff; }
    .el-button--danger.is-disabled, .el-button--danger.is-disabled:hover, .el-button--danger.is-disabled:focus, .el-button--danger.is-disabled:active {
      color: #ffffff;
      background-color: #fab6b6;
      border-color: #fab6b6; }
    .el-button--danger.is-plain {
      color: #f56c6c;
      background: #fef0f0;
      border-color: #fbc4c4; }
      .el-button--danger.is-plain:hover, .el-button--danger.is-plain:focus {
        background: #f56c6c;
        border-color: #f56c6c;
        color: #ffffff; }
      .el-button--danger.is-plain:active {
        background: #dd6161;
        border-color: #dd6161;
        color: #ffffff;
        outline: none; }
      .el-button--danger.is-plain.is-disabled, .el-button--danger.is-plain.is-disabled:hover, .el-button--danger.is-plain.is-disabled:focus, .el-button--danger.is-plain.is-disabled:active {
        color: #f9a7a7;
        background-color: #fef0f0;
        border-color: #fde2e2; }
  .el-button--info {
    color: #ffffff;
    background-color: #909399;
    border-color: #909399; }
    .el-button--info:hover, .el-button--info:focus {
      background: #a6a9ad;
      border-color: #a6a9ad;
      color: #ffffff; }
    .el-button--info:active {
      background: #82848a;
      border-color: #82848a;
      color: #ffffff;
      outline: none; }
    .el-button--info.is-active {
      background: #82848a;
      border-color: #82848a;
      color: #ffffff; }
    .el-button--info.is-disabled, .el-button--info.is-disabled:hover, .el-button--info.is-disabled:focus, .el-button--info.is-disabled:active {
      color: #ffffff;
      background-color: #c8c9cc;
      border-color: #c8c9cc; }
    .el-button--info.is-plain {
      color: #909399;
      background: #f4f4f5;
      border-color: #d3d4d6; }
      .el-button--info.is-plain:hover, .el-button--info.is-plain:focus {
        background: #909399;
        border-color: #909399;
        color: #ffffff; }
      .el-button--info.is-plain:active {
        background: #82848a;
        border-color: #82848a;
        color: #ffffff;
        outline: none; }
      .el-button--info.is-plain.is-disabled, .el-button--info.is-plain.is-disabled:hover, .el-button--info.is-plain.is-disabled:focus, .el-button--info.is-plain.is-disabled:active {
        color: #bcbec2;
        background-color: #f4f4f5;
        border-color: #e9e9eb; }
  .el-button--medium {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px; }
    .el-button--medium.is-round {
      padding: 10px 20px; }
    .el-button--medium.is-circle {
      padding: 10px; }
  .el-button--small {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px; }
    .el-button--small.is-round {
      padding: 9px 15px; }
    .el-button--small.is-circle {
      padding: 9px; }
  .el-button--mini {
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 3px; }
    .el-button--mini.is-round {
      padding: 7px 15px; }
    .el-button--mini.is-circle {
      padding: 7px; }
  .el-button--text {
    border-color: transparent;
    color: #ff7b4a;
    background: transparent;
    padding-left: 0;
    padding-right: 0; }
    .el-button--text:hover, .el-button--text:focus {
      color: #ff956e;
      border-color: transparent;
      background-color: transparent; }
    .el-button--text:active {
      color: #e66f43;
      border-color: transparent;
      background-color: transparent; }
    .el-button--text.is-disabled, .el-button--text.is-disabled:hover, .el-button--text.is-disabled:focus {
      border-color: transparent; }

.el-button-group {
  display: inline-block;
  vertical-align: middle; }
  .el-button-group::before,
  .el-button-group::after {
    display: table;
    content: ""; }
  .el-button-group::after {
    clear: both; }
  .el-button-group > .el-button {
    float: left;
    position: relative; }
    .el-button-group > .el-button + .el-button {
      margin-left: 0; }
    .el-button-group > .el-button.is-disabled {
      z-index: 1; }
    .el-button-group > .el-button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .el-button-group > .el-button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .el-button-group > .el-button:first-child:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
      .el-button-group > .el-button:first-child:last-child.is-round {
        border-radius: 20px; }
      .el-button-group > .el-button:first-child:last-child.is-circle {
        border-radius: 50%; }
    .el-button-group > .el-button:not(:first-child):not(:last-child) {
      border-radius: 0; }
    .el-button-group > .el-button:not(:last-child) {
      margin-right: -1px; }
    .el-button-group > .el-button:hover, .el-button-group > .el-button:focus, .el-button-group > .el-button:active {
      z-index: 1; }
    .el-button-group > .el-button.is-active {
      z-index: 1; }
  .el-button-group > .el-dropdown > .el-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--primary:first-child {
    border-right-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--primary:last-child {
    border-left-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--primary:not(:first-child):not(:last-child) {
    border-left-color: rgba(255, 255, 255, 0.5);
    border-right-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--success:first-child {
    border-right-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--success:last-child {
    border-left-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--success:not(:first-child):not(:last-child) {
    border-left-color: rgba(255, 255, 255, 0.5);
    border-right-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--warning:first-child {
    border-right-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--warning:last-child {
    border-left-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--warning:not(:first-child):not(:last-child) {
    border-left-color: rgba(255, 255, 255, 0.5);
    border-right-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--danger:first-child {
    border-right-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--danger:last-child {
    border-left-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--danger:not(:first-child):not(:last-child) {
    border-left-color: rgba(255, 255, 255, 0.5);
    border-right-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--info:first-child {
    border-right-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--info:last-child {
    border-left-color: rgba(255, 255, 255, 0.5); }
  .el-button-group .el-button--info:not(:first-child):not(:last-child) {
    border-left-color: rgba(255, 255, 255, 0.5);
    border-right-color: rgba(255, 255, 255, 0.5); }

.el-calendar {
  background-color: #fff; }
  .el-calendar__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #ebeef5; }
  .el-calendar__title {
    color: #000000;
    -ms-flex-item-align: center;
    align-self: center; }
  .el-calendar__body {
    padding: 12px 20px 35px; }

.el-calendar-table {
  table-layout: fixed;
  width: 100%; }
  .el-calendar-table thead th {
    padding: 12px 0;
    color: #606266;
    font-weight: normal; }
  .el-calendar-table:not(.is-range) td.prev,
  .el-calendar-table:not(.is-range) td.next {
    color: #c0c4cc; }
  .el-calendar-table td {
    border-bottom: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;
    vertical-align: top;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease; }
    .el-calendar-table td.is-selected {
      background-color: #f2f8fe; }
    .el-calendar-table td.is-today {
      color: #ff7b4a; }
  .el-calendar-table tr:first-child td {
    border-top: 1px solid #ebeef5; }
  .el-calendar-table tr td:first-child {
    border-left: 1px solid #ebeef5; }
  .el-calendar-table tr.el-calendar-table__row--hide-border td {
    border-top: none; }
  .el-calendar-table .el-calendar-day {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    height: 85px; }
    .el-calendar-table .el-calendar-day:hover {
      cursor: pointer;
      background-color: #f2f8fe; }
